:root {
    --loading-grey: #ededed;
}

.ourTeamPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    height: fit-content;
    color: #F0F0F0;
}

.ourTeamPage>h1 {
    padding-top: 2rem;
    margin-bottom: 0.5rem;
    font-family: 'GeneralSans-Semibold';
    font-size: 3rem;
}

.ourTeamPage>h1>span {
    color: #22B2E6;
}

.ourTeamPage>h5 {
    font-size: 2rem;
    color: #F0F0F0;
}

.ourTeamPage>h3 {
    color: #F0F0F0;
    font-family: 'GeneralSans-Regular';
    font-size: 1.5rem;
}

.cardsUpper {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    gap: 2rem;
    width: fit-content;
    transform-style: preserve-3d;
}

.cardTeam {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    margin: 0;
    border-radius: 1rem;
    height: 37rem;
    overflow: hidden;
    transition: all 0.2 ease-in-out;
    transition: scale(1) translateZ(0);
    /* transition: filter 200ms linear, transform 200ms linear; */
    /* filter: brightness(0.5) saturate(1.2) contrast(0.85) */

}

.cardTeam:hover {
    box-shadow: 0.1rem 0.2rem 0.3rem rgba(168, 167, 167, 0.6);
    transform: scale(1.05);
    transition: filter 200ms linear, transform 200ms linear;
    filter: brightness(1) saturate(1) contrast(1)
}

/* .cardsUpper:has(:hover) .cardTeam:not(:hover){
    filter: blur(2px);
} */
.ourTeamPage:has(:hover) .cardTeam:not(:hover){
    filter: blur(4px);
}


.cardsUpper .cardTeam:hover>.cardText {
    background: linear-gradient(to right, white 50%, #22b2e6 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .8s ease-out;
}

.image>img {
    height: 100%;
    animation: fadeInCard .5s;
}

@keyframes fadeInCard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.image {
    height: 29rem;
    width: 100%;
}

#loading {
    display: block;
    background-color: #fff;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, .12);
    width: 25rem;
    height: fit-content;
    padding: 0;
}

.content {
    padding: 2rem 1.8rem;
}

h4 {
    margin: 0 0 1rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.description {
    font-size: 1rem;
    line-height: 1.4rem;
}

.loading .image,
.loading h4,
.loading .description {
    padding: 0;
    background-color: var(--loading-grey);
    background: linear-gradient(100deg,
            rgba(255, 255, 255, 0) 40%,
            rgba(255, 255, 255, .5) 50%,
            rgba(255, 255, 255, 0) 60%) var(--loading-grey);
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
    to {
        background-position-x: -20%;
    }
}

.loading h4 {
    min-height: 1.6rem;
    border-radius: 4px;
    animation-delay: .05s;
}

.loading .description {
    min-height: 4rem;
    border-radius: 4px;
    animation-delay: .06s;
}

.cardTeam>img {
    height: fit-content;
    width: fit-content;
}

.cardText {
    height: 8rem;
    background-color: #F0F0F0;
    width: 100%;
}

.cardText>h1 {
    display: flex;
    color: #0F0F10;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}

.cardText>h2 {
    font-family: 'GeneralSans-Regular';
    display: flex;
    color: #0F0F10;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 1rem;
}

#teamSocials {
    margin-top: 0rem;
    margin-left: 40%;
    margin-right: 40%;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#socialImgTeam {
    color: #0F0F10;
    width: 1rem;
    height: 1rem;
}
#fontHeading{
    margin-top: 0rem;
    font-size: 4rem;
}


@media only screen and (max-width: 480px) {
    .imgContainerCarousel{
        overflow: hidden;
    }
    .slideshow{
        height: fit-content;
        width: 100%;
    }
    
    #team{
        height: 20rem;
    }
    .ourTeamPage{
        margin-top: 3rem;
    }
    .ourTeamPage > h3{
        font-size: 1rem;
        margin-bottom: 0rem;
    }
   
    .cardTeam{
        display: flex;
        transform: scale(0.8);
    }
    .ourTeamPage:has(:hover) .cardTeam:not(:hover){
        filter: blur(0px);
    }
    .cardTeam:hover {
        /* box-shadow: 0.1rem 0.2rem 0.3rem rgba(168, 167, 167, 0.6); */
        transform: scale(0.82);
        transition: 0;
        filter: none
    }
    .slideshowImg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #fontHeading{
        margin-top: 0rem;
        font-size: 1.5rem;
    }

}